header {
    background-color: rgba(65, 64, 64, 0.938);
    width: 100%;
}

p {color:rgba(255, 187, 0, 0.904);}




nav ul li {
        font-family: Arial;
        font-size: 10px;
}

header nav ul li.active a {
    background-color: rgba(255, 187, 0, 0.904);
}


footer {
    background-color: rgba(65, 64, 64, 0.938);
    color: rgba(255, 187, 0, 0.904);
    width: 100%;
}


body{
    min-height: 100vh;
    display: grid;
    grid-auto-flow: auto auto 1fr auto;
    margin: 0;
}

ul.errors{
    color:rgb(207, 9, 9);
    font-weight: bold;
    font-size: 1.2em;
}

ul.flashes{
    color: rgb(125, 202, 8);
    font-weight: bold;
    font-size: 0.9em;
}