{% extends "base.html" %}

{% block active_page %}
    {{ active_page }}
{% endblock %}


{% block contenido %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Movimientos</h1>
{% if datos %}
    <table role="grid">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Moneda_from</th>
            <th>Cantidad_from</th>
            <th>Moneda_to</th>
            <th>Cantidad_to</th>
        </tr>
        </thead>
        <tbody>
        {% for item in datos %}
        <tr>
            <td>{{item.date}}</td>
            <td>{{item.time}}</td>
            <td>{{item.moneda_from}}</td>
            <td>{{item.cantidad_from}}</td>
            <td>{{item.moneda_to}}</td>
            <td>{{item.cantidad_to}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>SIN MOVIMIENTOS.</p>
{% endif %}
{% endblock %}