{% extends "base.html" %}

{% block active_page %}
    {{ active_page }}
{% endblock %}

{% block contenido %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<ul class=errors>{{errors}}</ul>

<h1>Compra / Venta / Tradeo</h1>
  <form action="/purchase" method="post">
    {{dataForm.csrf_token}} 

    {{dataForm.moneda_from.label}}
    {{dataForm.moneda_from}}
    {% if dataForm.moneda_from.errores %}
        <ul class="errores">
        {% for error in dataForm.moneda_from.errores %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}

    {{dataForm.moneda_to.label}}
    {{dataForm.moneda_to}}
    {% if dataForm.moneda_to.errores %}
    <ul class="errores">
    {% for error in dataForm.moneda_to.errores %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {{dataForm.cantidad.label}}
    {{dataForm.cantidad}}
    {% if dataForm.cantidad.errores %}
    <ul class="errores">
    {% for error in dataForm.cantidad.errores %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {{dataForm.boton_calculo}}

    {{dataForm.tasa_cambio.label}}
    {{dataForm.tasa_cambio(value=resultado_api)}}
    {% if dataForm.tasa_cambio.errores %}
    <ul class="errores">
    {% for error in dataForm.tasa_cambio.errores %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {{dataForm.precio_unitario.label}}
    {{dataForm.precio_unitario(value= precio_cantidad)}}
    {% if dataForm.precio_unitario.errores %}
    <ul class="errores">
    {% for error in dataForm.precio_unitario.errores %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}


    {{dataForm.submit}}
</form>      
{% endblock %}