{% extends "base.html" %}

{% block contenido %}

<h1>Compra / Venta / Tradeo</h1>

  <form action="/purchase" method="post">
    {{dataForm.csrf_token}} 

    {{dataForm.moneda_from.label}}
    {{dataForm.moneda_from}}
    {% if dataForm.moneda_from.errors %}
        <ul class="errors">
        {% for error in dataForm.moneda_from.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}

    {{dataForm.moneda_to.label}}
    {{dataForm.moneda_to}}
    {% if dataForm.moneda_to.errors %}
    <ul class="errors">
    {% for error in dataForm.moneda_to.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {{dataForm.cantidad.label}}
    {{dataForm.cantidad}}
    {% if dataForm.cantidad.errors %}
    <ul class="errors">
    {% for error in dataForm.cantidad.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {{dataForm.boton_calculo}}

    {{dataForm.tasa_cambio.label}}
    {{dataForm.tasa_cambio(value=resultado_api)}}
    {% if dataForm.tasa_cambio.errors %}
    <ul class="errors">
    {% for error in dataForm.tasa_cambio.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {{dataForm.precio_unitario.label}}
    {{dataForm.precio_unitario(value= precio_cantidad)}}
    {% if dataForm.precio_unitario.errors %}
    <ul class="errors">
    {% for error in dataForm.precio_unitario.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}


    {{dataForm.submit}}
</form>      
{% endblock %}